<%- include("partials/header", { title: "Login" }) %>

<section class="hero">
  <h1>Login</h1>

  <p>
    Users will log in here to manage their woodworking projects and requests.
  </p>
</section>

<%- include("partials/footer") %>