<%- include("partials/header", { title: "Projects" }) %>

<section class="hero">
  <h1>Woodworking Projects</h1>

  <p>
    This page will show woodworkgn projects shared by users.
  </p>

  <p>
    test test test....Later, this page will connect to the database and display real project records.
  </p>
</section>

<%- include("partials/footer") %>